.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-top: 30px;
}

.column {
    float: left;
    padding: 10px;
    text-align: center;
}

.right {
    width: 30%;
    text-align: center;
}

.left {
    width: 70%;
    text-align: center;
}

.form h2 {
    margin-top: 30px;
}


.form label {
    margin-top: 10px;
}

input:focus {
    border: 3px solid #555;
}

.form input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form .invalid-field {
    border: 1px solid red;
}

.form p {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

.tacbox {
    display: inline-block;
    padding: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 3px solid #ddd;
    border-radius: 10px;
    background-color: #eee;
    width: 335px;
}

.tacinput {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.tacboxtext {
    font-size: 11px;
}

.shippingDetails {
    /*   border-radius: 2px; */
    height: 35px;
    margin-top: 15px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.form-row {
    display: flex;
}

.form-group {
    width: 50%;
    align-content: start;

}

.container {
    background-color: white;
    border-width: 1px;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    width: 100%;
    padding: 1rem;
    border-radius: 0px 0px 0.75rem 0.75rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
}

.layoutMaster {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.columnright{
    width: 50%;
    padding-left: 13rem;
    text-align: start;
    justify-content: center;
}

.basketContainer {
    border: 1px solid;
    padding: 10px;
    border-color: lightgrey;

}

.priceContainer {

}

.buttonBack {
    height: 2rem;
    background-color: lightgray;
    border-radius: 3px;
    border: #e06e68;
    /* Size */
    width: 40%;

}

.buttonBack:hover {
    background-color: gray;
}