/* Styling for shop page */
img{
    max-height: 100px;
    max-width: 100px;
}

.shopstyle {

    text-align: center;
    background-color: rgb(99, 173, 242);
    padding: 20px 0;
    font-size: 30px;
}
.secondTitle {
    text-align: center;
    font-size: 20px;
    
}
.divProducts {
    padding-left: 120px;
}
body {
    background-color: rgb(167, 204, 237);
    max-width: 100%;
}

.basketbox {
    border: 1px solid gray;
    width: 600px;
    height: 100px;
    background-color: lightblue;
    margin: 20px;
    display: flex;

}

.buttonincrement {
    margin: 10px;
    font-size: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 15px;
    border-radius: 10px 10px 10px 10px;
    background-color: #0070f3;
    color: white;
    width: 50px;

}

.buttonincrement:hover {
    background-color: black;
}

.buttondecrement {
    margin: 10px;
    width: 50px;
        font-size: 20px;
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border: none;
        padding: 0 15px;
        border-radius: 10px 10px 10px 10px;
        background-color: #0070f3;
        color: white;
        box-shadow: 0 4px 14px 0 rgba(30, 159, 235, 0.39);
    }

.buttondecrement:hover {
    background-color: black;
}

.itempadding {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
}


.smallpadding {
    padding-right: 20px;
}

.font-link-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    word-break: break-all; 


}

.font-link-quantity{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-style: thin;
}

.invalid-field{
border-color: red;
}

.imagepadding {
    padding-right: 10px;
}