/* Styling for shop page */

.shopstyle {
    background-color: rgb(99, 173, 242);
    padding: 20px 0;
    font-size: 20px;
}

body {
    background-color: rgb(167, 204, 237);
    max-width: 100%;
}

.basketbox {
    border: 1px solid gray;
    border-radius: 5px;
    width: 600px;
    height: 200px;

    background-color: rgb(48, 77, 109);
}

.buttonaddition {
    font-size: 25px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 15px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0070f3;
    color: white;

    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.buttonaddition:hover {
    background-color: black;
}

.buttonsubtract {
    font-size: 25px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 15px;
    border-radius: 10px 0px 0px 10px;
    background-color: #0070f3;
    color: white;

    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.buttonsubtract:hover {
    background-color: black;
}

.betweenbuttonstyle {
    background-color: #0070f3;

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
}

