/* Styling for shop page */

.shopstyle {
    background-color: rgb(99, 173, 242);
    padding: 20px 0;
    font-size: 20px;
}

body {
    background-color: rgb(167, 204, 237);
    max-width: 100%;
}

.basketbox {
    border: 1px solid gray;
    width: 500px;
    height: 100px;
    background-color: lightblue;
    margin: 20px;
}

.buttonincrement {

    font-size: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 15px;
    border-radius: 10px 10px 10px 10px;
    background-color: #0070f3;
    color: white;
    width: 40px;

}

.buttonincrement:hover {
    background-color: black;
}

.buttondecrement {
    width: 40px;
    font-size: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 15px;
    border-radius: 10px 10px 10px 10px;
    background-color: #0070f3;
    color: white;
    box-shadow: 0 4px 14px 0 rgba(30, 159, 235, 0.39);
}

.buttondecrement:hover {
    background-color: black;
}

.itempadding {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.quantityspacer {
    padding-left: 15px;
    padding-right: 15px;
}

.smallpadding {
    padding-right: 20px;
}

.fontface {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
