/* Sitemap Footer Styles */
.footer {
  background-color: #222;
  color: #fff;
  padding: 30px 0;
  background: linear-gradient(0deg, #57aefa, #75b5f4);

}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  width: 25%;
  margin-bottom: 30px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  line-height: 20px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-bottom {
  background: linear-gradient(0deg, #40a2f8, #67acf2);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.footer-bottom p {
  margin: 0;
}
