.nav {
    background: white;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 5rem;
  }
  
  .nav div {
    display: flex;
    align-items: center;
  }

  
  .nav ul {
    list-style: none;
    margin-right: 5rem;
    display: flex;
    gap: 1rem;
  }
  
  .nav li {
    cursor: pointer;
  }
  
  .nav li.active {
    background-color: rgb(96, 153, 102);
  }
  
  .nav li:hover {
    background: linear-gradient(0deg, #57aefa, #75b5f4);
}
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
    .nav div {
      margin-bottom: 1rem;
    }
  }

  .faviconimg {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    margin-left: 5rem;
  }

  